/* Allgemein */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
    background-color: #d9d9d9;
}

/* Kopfbereich */
header {
    background-color: #ffffff;
    padding: 15px 60px; /* Abstand zwischen Inhalt und Rand */
    display: flex; /* horizontale Ausrichtung der Elemente */
    justify-content: space-between; /* Elemente gleichmäßig auf dem horizontalen Raum verteilen */
    align-items: center;
}

/* Logo */
.logo {
    text-align: center;
}

.logo img {
    max-width: 90px; /* Maximalbreite des Logos */
    height: auto;
}

.logo p {
    font-size: 12px;
    margin: 0;
}

/* Titel */
header h1 {
    font-size: 28px;
    margin: 0;
}

/* Navbar */
nav ul {
    list-style-type: none; /* Entfernt Aufzählungspunkte */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Behandelt Überlauf von Elementen */
    display: flex;
    align-items: center;
    gap: 45px;
}

nav li {
    float: left; /* Elemente werden nebeneinander platziert */
}

nav li a {
    display: block; /* Ändert das Anzeigeverhalten auf Block */
    color: #2c2c2c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Entfernt Unterstreichungen */
    font-weight: bold;
}

nav li a:hover {
    background-color: #ddd; /* Hintergrundfarbe beim Überfahren */
    border-radius: 20px;
}

nav li a.active {
    text-decoration: underline;
}
