<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="logo">
         <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Nachhilfe Connect Logo">
         <p>Gemeinsam besser lernen.</p>
        </div>

        <h1>Nachhilfe Connect</h1>

        <nav>
            <ul>
             <li><a href="{{ url_for('startseite') }}">Startseite</a></li>
             <li><a href="{{ url_for('teacher_search') }}">Suche</a></li>
             <li><a href="{{ url_for('booking') }}">Buchung</a></li>
             <li><a class="login-button active" href="{{ url_for('login') }}">Log in</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="login-container">
             <div class="login-card">

              <h2>Anmelden</h2>
              <p>Melden Sie sich an, um fortzufahren.</p>

              <form method="POST">

                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.passwort.label }}
                    {{ form.passwort(class="form-input") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="login-btn") }}
                </div>

            </form>  

            
</body>
</html>