<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Lehrersuche</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Nachhilfe Connect Logo">
            <p>Gemeinsam besser lernen.</p>
        </div>

    <h1>Nachhilfe Connect</h1>

    <nav>
        <ul>
            <li><a href="{{ url_for('startseite') }}">Startseite</a></li>
            <li><a class="active" href="{{ url_for('teacher_search') }}">Suche</a></li>
            <li><a href="{{ url_for('booking') }}">Buchung</a></li>
            <li><a class="login-button" href="{{ url_for('login') }}">Log in</a></li>
        </ul>
    </nav>
    </header>

    <main>
        <section class="...">
            <h2>Nachhilfelehrer finden</h2>
        </section>

        <section class="...">
            <input type="text" placeholder="Fach">
            <select>
                <option>Unterrichtsart</option>
                <option>Online</option>
                <option>Vor Ort</option>
                <option>Beides</option>
            </select>

            <select>
                <option>Preis</option>
                <option>Bis 20€</option>
                <option>Bis 30€</option>
                <option>Über 30€</option>
            </select>
            <button>Suchen</button>
        </section>

        <section class="...">

            <div class="...">
                <h3>Ali Tyson</h3>
                <p>Mathe</p>
                <p>25€/h</p>
                <p>Online</p>

                <a href="{{ url_for('teacher_profile') }}" class="...">
                Profil ansehen
                </a>
            </div>

            <div class="...">
                <h3>Cristiano Ronaldo</h3>
                <p>Physik</p>
                <p>18€/h</p>
                <p>Online & Vor Ort</p>

                <a href="{{ url_for('teacher_profile') }}" class="...">
                Profil ansehen
                </a>
            </div>

        </section>
        
    </main>
    
</body>
</html>
